/* http://www.colorbox.io/#steps=8#hue_start=247#hue_end=247#hue_curve=linear#sat_start=4#sat_end=33#sat_curve=linear#sat_rate=150#lum_start=96#lum_end=25#lum_curve=linear#lock_hex=4d4871#minor_steps_map=0 */

@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Overpass Mono SemiBold'), local('OverpassMono-SemiBold'), url(https://fonts.gstatic.com/s/overpassmono/v5/_Xm3-H86tzKDdAPa-KPQZ-AC3vCQo_CXBg.woff2) format('woff2');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::selection {
	background: var(--purple-600);
}

:root {
	--border-radius: 6px;
	--spacing: 30px;
    --purple-100: #e8e6f5;
    --purple-200: #d5d3e7;
    --purple-300: #c3c0da;
    --purple-400: #a19dc0;
    --purple-500: #827ea6;
    --purple-600: #66618b;
    --purple-700: #4d4871;
    --purple-800: #373258;
    --purple-900: #242040;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(images/bg.jpg);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 100%;
	color: var(--purple-900);
}

body::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: hsla(248, 33%, 4%, 0.4);
	content: '';
}

.container {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	display: grid;
	place-items: center;
	padding: var(--spacing);
	z-index: 1;
}

h1 {
	font-size: 3.75rem;
	font-weight: 700;
	text-shadow: 0 1px 1px #030303, 0 2px 1px #030303;
	text-align: center;
	color: #fff;
	margin-bottom: calc(var(--spacing) / 4);
}

p {
	color: #fff;
	width: 40ch;
	font-size: 1.5rem;
	text-align: center;
	line-height: 1.5;
	text-shadow: 0 1px 1px #030303, 0 2px 1px #030303;
	margin: 0 auto var(--spacing);
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

.parser {
	width: 100%;
	background: hsla(248, 33%, 28%, 0.4);
	border-radius: var(--border-radius);
	padding: calc(var(--spacing) * 1.25) calc(var(--spacing) * 2) calc(var(--spacing) * 1.75);
}

.parser > div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr) 50px;
	grid-gap: var(--spacing);
}

label {
	display: block;
	height: 2rem;
	font-size: 1rem;
	font-weight: 400;
	text-shadow: 0 1px 1px #030303;
	letter-spacing: 0.05em;
	color: #fff;
}

input, textarea {
	display: block;
	width: 100%;
	background: var(--purple-100);
	height: calc(100% - 2rem);
	font-family: "Overpass Mono", monospace;
	font-weight: 600;
	font-size: 1rem;
	color: inherit;
	border-radius: var(--border-radius);
	border: none;
}

.textarea-wrapper {
	grid-area: 2 / 1 / 5 / 2;
}

textarea {
	padding: 1.25rem;
}

.input-wrapper {
	grid-area: 1 / 1 / 2 / 2;
}

input {
	padding: 1rem;
}

button {
	display: block;
	width: 100%;
	background: linear-gradient(var(--purple-700), var(--purple-800));
	grid-area: 5 / 1 / 6 / 2;
	color: #fff;
	letter-spacing: 0.1em;
	font-family: inherit;
	font-size: 1rem;
	border: none;
	border: 1px solid #fff;
	border-radius: calc(var(--border-radius) * 2);
	cursor: pointer;
	margin: 0 auto;
}

button:hover {
	background: var(--purple-700);
}

button:active {
	background: var(--purple-800);
}

input:focus, textarea:focus, button:focus {
	outline: 0;
}

input:focus, textarea:focus {
	box-shadow: 0 0 0 3px var(--purple-700);
}

.right-wrapper {
	grid-area: 1 / 2 / 6 / 2;
}

.variables-wrapper {
	height: calc(100% - 2rem);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.variables {
	height: 100%;
	background: var(--purple-900);
	background: #fff;
	font-family: "Overpass Mono", monospace;
	font-size: 0.9rem;
	font-weight: 600;
	color: #fff;
	white-space: pre-wrap;
	border-radius: var(--border-radius);
	padding: 1.25rem;
}

.variables div {
	line-height: 1.6;
}