/* http://www.colorbox.io/#steps=8#hue_start=247#hue_end=247#hue_curve=linear#sat_start=1#sat_end=33#sat_curve=linear#sat_rate=150#lum_start=96#lum_end=25#lum_curve=linear#lock_hex=4d4871#minor_steps_map=0 */

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o58a-wg.woff2) format('woff2');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::selection {
	background: var(--purple-200);
}

:root {
	--font-weight: 500;
	--mono-weight: 500;
	--border-radius: 6px;
	--spacing: 48px;
    --purple-100: #f2f1f5;
    --purple-200: #dddce7;
    --purple-300: #cac8da;
    --purple-400: #a6a2c0;
    --purple-500: #8580a6;
    --purple-600: #67628b;
    --purple-700: #4d4871;
    --purple-800: #373258;
    --purple-900: #242040;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: relative;
	display: grid;
	background: url(images/bg.jpg);
	font-family: Quicksand, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 100%;
	font-weight: var(--font-weight);
	color: var(--purple-900);
}

body::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: hsla(248, 33%, 4%, 0.3);
	content: '';
}

.container {
	position: relative;
	display: grid;
	place-items: center;
	padding: var(--spacing);
	z-index: 1;
	margin: auto;
}

.github-link {
	display: block;
	position: fixed;
	bottom: 15px;
	right: 22px;
	z-index: 1;
}

.github-link a {
	border-bottom: none;
}

.parser {
	width: 100%;
	background: hsla(248, 33%, 29%, 0.96);
	border-radius: var(--border-radius);
	box-shadow: 0 0 25px -5px #131313;
}

.title {
	padding: var(--spacing);
}

h1 {
	font-size: 4.5rem;
	font-weight: inherit;
	text-shadow: 0 1px 1px #131313, 0 2px 1px #131313;
	text-align: center;
	line-height: 1;
	letter-spacing: 0.1rem;
	color: #fff;
	margin-bottom: calc(var(--spacing) / 3);
}

.steps {
	display: block;
	text-align: center;
}

ul {
	display: inline-block;
	color: #fff;
	font-size: 1.15rem;
	list-style: none;
	list-style-position: inside;
	text-shadow: 0 1px 1px #131313, 0 2px 1px #131313;
	text-align: left;
	counter-reset: list;
	margin: 0 auto;
}

li {
	line-height: 1.9;
	letter-spacing: 0.06em;
}

li::before {
	width: 24px;
	display: inline-block;
	counter-increment: list;
	content: counter(list) '.';
	letter-spacing: 0.1em;
	text-align: right;
	margin-right: 8px;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

.external-icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 3px 5px;
}

.form-wrapper {
	display: grid;
	background: hsla(0 0% 0% / 0.3);
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr repeat(3, 80px);
	column-gap: var(--spacing);
	row-gap: calc(var(--spacing) / 2);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	padding: var(--spacing) calc(var(--spacing) * 1.2) calc(var(--spacing) * 1.2);
}

.form-wrapper > div {
	width: 336px;
}

label {
	display: block;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.1rem;
	text-shadow: 0 1px 1px #030303;
	letter-spacing: 0.05em;
	color: #fff;
}

.input-wrapper {
	grid-area: 1 / 1 / 2 / 2;
}

.textarea-wrapper {
	grid-area: 2 / 1 / 5 / 2;
}

input, textarea {
	display: block;
	width: 100%;
	height: calc(100% - 2rem);
	background: var(--purple-100);
	font-family: monospace;
	font-weight: var(--mono-weight);
	font-size: 1rem;
	color: inherit;
	line-height: 1.6;
	border-radius: var(--border-radius);
	border: none;
	transition: box-shadow 100ms linear;
	will-change: box-shadow;
	padding: 1.25rem 1rem 1rem;
}

textarea {
	line-height: 1.25;
}

input:focus, textarea:focus, button:focus {
	outline: 0;
}

input:focus, textarea:focus {
	background: #fff;
	box-shadow: 0 0 0 3px var(--purple-500);
}

.right-wrapper {
	grid-area: 1 / 2 / 5 / 2;
}

.variables-title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.variables-title > * {
	flex: 0 0 auto;
}

.copy {
	text-decoration: underline;
	cursor: pointer;
}

.variables-wrapper {
	height: calc(100% - 2rem);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.variables {
	height: 100%;
	background: var(--purple-100);
	font-family: monospace;
	font-weight: var(--mono-weight);
	font-size: 1rem;
	color: var(--purple-900);
	border-radius: var(--border-radius);
	white-space: pre-wrap;
	padding: 1.25rem;
}

.variables div {
	line-height: 1.5;
}

.variables span {
	display: inline-block;
	width: 16px;
	height: 16px;
	content: '';
	vertical-align: middle;
}